body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
}

.calculator {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 800px;
    width: 390px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

.button_list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    padding: 16px 0;
    justify-content: center;
}

.calc_list {
    flex-basis: calc((100%-16px)/5);
}

.calc__btn {
    width: 78px;
    height: 78px;
    background-color: #1B1B1B;
    border-radius: 50%;
    border: none;
    color: white;
    font-size: 30px;
}

.calc__btn:hover,
.calc__btn:focus {
    cursor: pointer;
    box-shadow: #1B1B1B 2px;
    
}

.calc__btn_wide {
width: 170px;
border-radius: 38px;
text-align: start;
padding-left: 30px;
}

.calc_list:nth-child(4n) button,
.calc_list:last-child button {
    background-color: #FE9E0B;
}

.calc_list:nth-child(-n+3) button {
    background-color: #A5A5A5;
    color: #1B1B1B;;
}

.calc_output {
    display: flex;
    justify-content: end;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 60px;
}
